---
layout: single
title: Topics
description: Topics covered in my posts
background: '/img/home.jpg'
author_profile: true
---

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        {% capture tag_name %}{{ tag[0] }}{% endcapture %}
        <li>
            <a href="/tags/{{ tag_name }}">
            <strong>{{ tag_name }}</strong> <span class="taxonomy__count">{{ i }}</span>
            </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>



