{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline" style="text-align: center;">
      {% if post.link %}
        <a href="{{ post.link }}" style="text-align: center;">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink" style="text-align: center;"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink" style="text-align: center;">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.subtitle %}
    <p class="post-subtitle" style="color:#A9927D;text-align: center;">{{ post.subtitle }}</p>
    {% else %}
    <p class="post-subtitle" style="color:#22333B;text-align: center;">{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
    {% endif %}
  </article>
</div>
