---
layout: archive
---

<!-- Featured Projects List -->
    <h1 style = "text-align: center;">Featured Projects</h1>
    <p align="justify" style="color:white;">
    Here are some projects that I think are interesting. They cover a range of data science techniques like regression, classification,
    NLP, clustering, and neural networks.
    </p>
    {% for post in site.tags.featured %}
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h3 class="post-title" style="color:#8f7bc5;text-align: center;">{{ post.title }}</h3>
      </a>
     {% endfor %}

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
