---
layout: archive
---

<!-- Featured Projects List -->
    <h1 style = "text-align: center;">Portfolio Projects</h1>
    <p align="justify" style="color:white;">
    The projects below cover a range of data science techniques like regression, classification,
    NLP, clustering, and neural networks on numeric, text, image, and audio data types. For the most up-to-date projects please refer to my <a href="https://github.com/victormurcia">GitHub</a> and/or <a href="https://www.linkedin.com/in/vmmr5596/">LinkedIn</a> profiles!</p>
    {% for post in site.tags.portfolio %}
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h3 class="post-title" style="color:#8f7bc5;text-align: center;">{{ post.title }}</h3>
      </a>
     {% endfor %}

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
