---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  
    <!-- Featured Projects List -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto"> 
          <h1 style = "text-align: center;">Featured Projects</h1>
          {% for post in site.tags.featured %}
          <article class="post-preview">
              <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title" style="color:#F2F4F3;text-align: center;">{{ post.title }}</h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle" style="color:#A9927D;text-align: center;">{{ post.subtitle }}</h3>
              {% else %}
              <h3 class="post-subtitle" style="color:#22333B;text-align: center;">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta" style = "text-align: center;">Posted by
              {% if post.author %}
              {{ post.author }}
              {% else %}
              {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: '%B %d, %Y' }}        
            </p>
          </article>
           {% endfor %}
        </div>
      </div>
    </div>

    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 style = "text-align: center;">Recent Posts</h1>
        {{ content }}
  
        <article class="post-preview">
        <!-- Recent Posts List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title" style="color:#F2F4F3;text-align: center;"">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle" style="color:#A9927D;text-align: center;"">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle" style="color:#22333B;text-align: center;"">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta" style = "text-align: center;">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {% if post.tags contains 'jupyter_notebook' %}
            {{ post.date | date: '%B %d, %Y' }}
            {% else %}
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
            {% endif %}    
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
